*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  height: auto;
 
    background-color: rgb(61, 61, 61);
     
        
    
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 74, 123);
  padding: 10px 20px;
  color: white;
   height: 77px; 
}

#logo {
     width: 147px;
    height: 156px;
  background-image: url(imagens/logo6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    
}

#pesquisa {
 
 width: 545px;
  height: 40px;
  padding: 0 20px;
  border-radius: 50px;
  border: none;
  background-color: #D9D9D9;
  font-size: 14px;
  color: #3d3d3d;
}


#pp {
  flex: 1;
  display: flex;
  justify-content: center;
}


#nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#perfil {
    width: 71px;
    height: 67px;
  background-image: url(imagens/fotoperfil.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}





main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 10px;
    margin: 15px;
}
label{
    color:white;
    font-size: 1.2em;
}

input[type="search"] {
  padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    outline: none;
    background-color: rgb(221, 221, 221);
 margin: 3px;
    width: 453px;
}
#bpublicar{

    background-color: rgb(255, 215, 0);
    width: 175px;
    height: 40px;
    border-radius: 16px;
    margin: 3px;

}


#parte1 > #imagem{
  
   width: 40%;
    background-color: white;
    height: 396px;
    margin-top: 37px;
    background-image: url("https://i.redd.it/ym5mluljpq091.jpg");
    background-size: cover;
    
}


input[type="Text"] {
  padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    outline: none;
    background-color: rgb(221, 221, 221);
    
    width: 40%;
    margin-top: 5px;
}
 

#parte1 {
  display: flex;
  justify-content: center;


  gap: 20px;

  
 
  

}

#parte2 {
  
 
  margin-top: 36px;
  width: 31%;
 
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
}

#parte2 > form > h1{
    font-size: 1.1em;
    color: white;
    font-weight: normal;
     margin-top: 20px;
}
#parte2 > form > #input2{
    padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    outline: none;
    background-color: rgb(221, 221, 221);
    margin-top: 5px;
    width: 95%;
}

#parte2 > form > #input3{
    padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    outline: none;
    background-color: rgb(221, 221, 221);
    margin-top: -9px;
    width: 95%;
}

#parte2 > form{
    margin-top: 20px;
}

#parte2 > label{
    color:white;
    font-size: 1.1em;
    font-weight: normal;

}

html, body {
  overflow-x: hidden;
}
#categoria{
    width: 400px;
    margin-top: 5px;
    height: 27px;
    background-color: rgb(221, 221, 221);
}
#ff > label{
    color:white;
    font-size: 1.1em;
    font-weight: normal;

}

#imagem {
  position: relative;
  overflow: hidden;
}

.upload-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.upload-label:hover {
  background-color: rgba(255, 255, 255, 1);
}

.icone-lapis {
  width: 24px;
  height: 24px;
}
