*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  height: auto;
 
    background-color: rgb(61, 61, 61);
     
        
    
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 74, 123);
  padding: 10px 20px;
  color: white;
   height: 77px; 
}

#logo {
     width: 147px;
    height: 156px;
  background-image: url(imagens/logo6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    
}





nav a{
    color: white;
    text-decoration: none;
    margin: 17px;
    flex-grow: 0;

    
}
nav{
    flex: auto;
     display: flex;
    flex-flow: row wrap;
    justify-content: end;
    
}

header > nav > a:hover{
   background-color: rgb(18, 74, 123);
    color: black;
    transition: background-color .5s;
   
    
    
}



main {
  background-color: white;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 20px; 
}


#centro > h1{
    font-size: 25px;
    padding: 18px;
}

#centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 8px;
  outline: none;
  background-color: rgb(221, 221, 221);
  text-align: center;
  width: 645px;

}




 .icone-lupa {
      position: absolute;
        left: 445px;
    top: 209px;
    width: 51px;
    height: 63px;
    color: #000000
}


#p{
    font-size: 15px;
    padding: 18px;
    margin-top: 10px;
}

#conteudo{

  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  max-width: 400px;
  margin: auto;
}

.divun {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition:  0.2s ease;
}

.divun:hover {
  background-color: #f0f0f0;
}

.divun svg {
  flex-shrink: 0;
  color: #333;
}

.divun p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

#feedback{
  display: flex;
  flex-direction: column;
     text-align: left;
}
#feedback > h1{

    font-size: 1.5em;
    text-align: left;
    margin-top: 10px;
}
#bpublicar{

    background-color: rgb(255, 215, 0);
    width: 175px;
    height: 40px;
    border-radius: 16px;
    margin: 3px;

}

#mensagem1{
      background-color: rgb(221, 221, 221);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 10px;
    width: 600px;
    height: 60px;
    resize: none;
}

#divbot{
  display: flex;
 justify-content: end;
}

